<!DOCTYPE HTML>
<html>
<head>
    <script src="static/js/jquery2.js"></script>
    <script src="static/justified_gallery/js/jquery.justifiedGallery.js"></script>
    <script src="static/justified_gallery/swipebox/jquery.swipebox.min.js"></script>
    <link rel="stylesheet" href="static/justified_gallery/css/justifiedGallery.css" />
    <link rel="stylesheet" href="static/justified_gallery/swipebox/swipebox.css" />
    <script src="static/js/jquery.lazyload.min.js"></script>
    <style>
        #journal  textarea {
          height: 500px;
          width: 500px;
          font-size: 15pt;
        }
        .glow {
    filter: opacity(50%)
     }

    </style>
</head>
<body>
  <div id="container">
    <div id="mygallery">
    </div>

  </div>

  <dialog id="journal">
      <h2 id="journal_title"></h2>
      <textarea id="journal_entry">


      </textarea> <br/>
      <button id="submit">Submit</button>
  </dialog>

    <div></div>
 

</body>

<script src="static/js/main.js"></script>
<script src="static/js/jquery.viewport.mini.js"></script>


</html>
