<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />

    <link href="static/minimal.css" rel="stylesheet">

    <style>
        @import url(http://fonts.googleapis.com/earlyaccess/cwtexhei.css);
        .uppercase {

            text-transform: capitalize;
            font-weight: bold;

        }

        .clear {
            clear: both;
        }




        body,
        p,
        h3 {

            font-family: 'cwTeXHei', sans-serif;
        }

        .opaque {
            opacity: 0.3;
        }
    </style>
</head>


<body>
    <div class="container">
        <header>
            <a class="logo" href="http://minimalcss.com">牛朱誌異</a>
            <nav class="float-right">
                <ul>
                    <li>
                        <a href="#">關於</a>
                    </li>
                </ul>
            </nav>
        </header>

        <div class="row">
            <div class="col-12">
                <img class="center opaque" width=728 src="logo.jpg">
            </div>
        </div>

        <div class="row">
            <div id="content" class="col-9">

            </div>
            <div class="col-3">
                <h3>標籤</h3>
                <hr>
                <ul>
                    <li>
                        <a href="http://opensource.org/licenses/MIT">精華</a>
                    </li>
                    <li>
                        <a href="http://imgfill.com">詳細</a>
                    </li>
                </ul>

                <h3>年份</h3>
                <hr>
                <ul>
                    <li>
                        <a href="http://opensource.org/licenses/MIT">2017</a>
                    </li>
                    <li>
                        <a href="http://imgfill.com">2016</a>
                    </li>
                    <li>
                        <a href="http://vanillaphp.com">2015</a>
                    </li>
                </ul>



            </div>
            <!-- col-8 -->
        </div>
        <!-- row -->


        <footer>
            &copy; 牛朱誌異
            <!-- Link not required, but appreciated. -->
            <a class="float-right" href="http://minimalcss.com">Minimal</a>
        </footer>
        <!-- footer -->
    </div>

    <script src="static/js/journal.js"></script>



</body>

</html>